.offers {
    padding: 145px 0 125px 0;
    &__title {
        font-family:$fJosefin;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        color:$primaryColor;
        border-top: 1px solid $secondaryColor;
        border-bottom: 1px solid $secondaryColor;
        text-transform:uppercase;
        letter-spacing: 3px;
        width: 80px;
        margin: 0 auto 20px auto;
        padding: 5px 0 5px 0;
        text-align:center;
    }
    &__subtitle {
        font-family:$fCormorant;
        font-weight: 400;
        font-size: 40px;
        color:$primaryColor;
        text-align:center;
        text-transform:capitalize;
        margin-bottom:20px;
    }
    &__desc {
        font-family:$fJosefin;
        font-weight: 400;
        font-size: 20px;
        color:$primaryColor;
        line-height: 30px;
        margin:0 auto;
        text-align:center;
    }
    &__content {
        display:flex;
        gap:35px;
        margin-top:30px;
    }
    &__pic {
        width: 665px;
        height: 409px;
    }
}