.btn {
    font-family: $fJosefin;
    font-weight: 400;
    font-size: 22px;
    color: #fff;
    border: none;
    display: inline-block;
    transition: background-color .2s linear, color .2s linear;

    text-transform:capitalize;
    &--primary {
        padding: 20px 50px;
        border: 2px solid $secondaryColor;
        background-color: $primaryColor;
        &:hover {
            cursor: pointer;
            background-color:$secondaryColor;
        }
    }
    &--secondary {
        padding: 20px 80px;
        color: $primaryColor;
        background-color:$secondaryColor;
        &:hover {
            cursor: pointer;
            background-color:#e5bd80;
        }
    }
    &--yellow {
        color:$secondaryColor;
        &:hover {
            cursor: pointer;
            color:#ffff;
        }
    }
    &--menu {
        color:$secondaryColor;
        background-color: #fff;
        &:hover {
            cursor:pointer;
            color:#fff;
            background-color:$secondaryColor;
        }
    }
    &--popular-dishes {
        display:block;
        margin: 65px auto 0 auto;
    }
    &--blog {
        position:absolute;
        left:50%;
        top: 50%;
        transform:translate(-50%,-50%);
        z-index: 1;
        display: none;
        transition: display  linear;
    }
    &--form {
        background-color: #fff;
        color:black;
        border:none;
        display:block;
        margin:30px auto 0 auto;
        &:hover {
            color:#fff;
        }
    }
    &--footer {
        display:block;
        margin:0;
    }
}