@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant&family=Josefin+Sans&display=swap");
:root {
  --body-color: #fff;
  --basic-font: 16px, sans-serif;
}

* {
  box-sizing: border-box;
}

html, body {
  font: var(--basic-font);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  padding: 0;
  background: var(--body-color);
}

.main {
  flex: 1 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  display: block;
  color: #000;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: normal;
}

.container {
  width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #fff;
  border: none;
  display: inline-block;
  transition: background-color 0.2s linear;
  text-transform: capitalize;
}
.btn--primary {
  padding: 20px 50px;
  border: 2px solid #E1B168;
  background-color: #292E36;
}
.btn--primary:hover {
  cursor: pointer;
  background-color: #E1B168;
}
.btn--secondary {
  padding: 20px 80px;
  color: #292E36;
  background-color: #E1B168;
}
.btn--secondary:hover {
  cursor: pointer;
  background-color: #e5bd80;
}
.btn--yellow {
  color: #E1B168;
}
.btn--yellow:hover {
  cursor: pointer;
  color: white;
}

.separator.wide {
  width: 100%;
  height: 1px;
  background-color: #5C6168;
  position: absolute;
}

.header {
  background-color: #292E36;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  border-bottom: 1px solid #5C6168;
}
.header__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5px;
}
.header__socials {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__socials:last-child {
  margin-right: 30px;
}

.nav {
  display: flex;
  gap: 60px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: capitalize;
}
.nav__link {
  color: #ffffff;
  transition: color 0.1s ease-in-out;
}
.nav__link:hover {
  color: #E1B168;
}

.socials__link:hover .socials__icon path {
  fill: #E1B168;
}

.intro {
  background-color: #292E36;
}
.intro__content {
  display: flex;
  gap: 55px;
}
.intro__subtitle {
  font-family: "Cormorant Infant", sans-serif;
  font-weight: 400;
  font-size: 100px;
  color: #ffffff;
  line-height: 110px;
  margin-top: 200px;
}
.intro__text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  line-height: 30px;
  margin: 35px 0;
}

.information {
  background-color: #FFF8F5;
}
.information__item {
  display: flex;
  align-items: center;
}
.information__item__image--wrapper {
  width: 83px;
  height: 83px;
}
.information__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px 0;
  margin: 100px 0 60px 0;
}

.item__text {
  margin-left: 20px;
}

.item__title {
  font-family: "Cormorant Infant", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 39px;
  color: #292E36;
  text-transform: capitalize;
}

.item__details {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-transform: capitalize;
  color: #555555;
}

.item__details--wrapper {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #555555;
}

.story {
  background-color: #FFF8F5;
}
.story__content {
  display: flex;
  margin-top: 85px;
  padding-bottom: 125px;
}
.story__image {
  width: 743px;
  height: 519px;
}
.story__title {
  font-family: "Cormorant Infant", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 56px;
  color: #292E36;
  margin-bottom: 15px;
}
.story__subtitle {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #555555;
  margin-bottom: 25px;
}
.story__signature {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #555555;
  text-transform: uppercase;
  margin: 20px 0;
}
.story__timeline {
  display: flex;
}
.story__text {
  margin-left: 45px;
}/*# sourceMappingURL=main.css.map */